{% extends 'base.html.twig' %}

{% block title %}PingPong - Nouveau Match - {% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">

            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">
                            Joueur 1 :
                        </h1>
                        {{ form_start(form) }}
                        <p class="card-text">

                            {{ form_widget(form.player1) }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <h1 class="text-center">VS</h1>
            </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">
                            Joueur 2 :
                        </h1>
                        <p class="card-text">
                            {{ form_widget(form.player2) }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
            <div class="col-6"><button type="submit" class="btn btn-success mt-3 btn-block">Valider</button></div>
            <div class="col-3"></div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

